<mat-toolbar color="primary">
   <span class="navbar-left">Navbar</span>

   <ul class="nav-list navbar-center">
      <li><a routerLink="/test-lifecycle">TEST-1</a></li>
      <li><a routerLink="/traffic-light">TEST-2</a></li>
      <li><a routerLink="/prova">TEST-3</a></li>
      <li><a routerLink="/parent">TEST-4</a></li>
      <li><a routerLink="/chiedi-felicita">TEST-5</a></li>
      <li><a routerLink="/card-example">TEST-6</a></li>
      <li><a routerLink="/users">TEST-7</a></li>
      <li><a routerLink="/scss">TEST-8</a></li>
   </ul>
</mat-toolbar>