<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
   <!-- Campo di input con validatore richiesto -->
   <div class="block">
      <mat-form-field class="example-full-width">
         <mat-label>Username:</mat-label>
         <input matInput type="text" id="username" formControlName="username">
      </mat-form-field>

      <div *ngIf="myForm.get('username')?.hasError('required')" class="error">
         Username è richiesto.
      </div>
   </div>

   <!-- Campo di input con validatore di lunghezza -->
   <div class="block">
      <mat-form-field class="example-full-width">
         <mat-label>Password:</mat-label>
         <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>

      <div *ngIf="myForm.get('password')?.hasError('minlength')" class="error">
         La password deve avere almeno 6 caratteri.
      </div>
   </div>

   <!-- Campo di input con validatore email -->
   <div class="block">
      <mat-form-field class="example-full-width">
         <mat-label>Email:</mat-label>
         <input matInput type="email" id="email" formControlName="email">
      </mat-form-field>

      <div *ngIf="myForm.get('email')?.hasError('required') || myForm.get('email')?.hasError('email')" class="error">
         Inserisci un indirizzo mail valido.
      </div>
   </div>

   <!-- Campo di input con validatore di pattern -->
   <div class="block">
      <mat-form-field class="example-full-width">
         <mat-label>Phone Number:</mat-label>
         <input matInput type="text" id="phoneNumber" formControlName="phoneNumber">
      </mat-form-field>

      <div *ngIf="myForm.get('phoneNumber')?.hasError('pattern') || myForm.get('phoneNumber')?.hasError('required')"
         class="error">
         Inserisci un numero di telefono corretto.
      </div>
   </div>

   <!-- Campo di input con validatore personalizzato -->
   <div class="block">
      <mat-form-field class="example-full-width">
         <mat-label>Custom Field:</mat-label>
         <input matInput type="text" id="customField" formControlName="customField">
      </mat-form-field>

      <div *ngIf="myForm.get('customField')?.hasError('customError')" class="error">
         Questo campo deve avere almeno {{ myForm.get('customField')?.getError('customError').requiredLength }}
         caratteri.
         <br>
         Hai inserito {{ myForm.get('customField')?.getError('customError').actualLength }} caratteri.
      </div>
   </div>

   <!-- Pulsante di invio -->
   <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
</form>