<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

   <!-- Campo di input con validatore richiesto -->
   <div class="block">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div *ngIf="myForm.get('username')?.hasError('required')" class="error">
         Username è richiesto.
      </div>
   </div>

   <!-- Campo di input con validatore di lunghezza -->
   <div class="block">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="myForm.get('password')?.hasError('minlength')" class="error">
         La password deve avere almeno 6 caratteri.
      </div>
   </div>

   <!-- Campo di input con validatore di email -->
   <div class="block">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="myForm.get('email')?.hasError('required') || myForm.get('email')?.hasError('email')" class="error">
         Inserisci un indirizzo mail valido.
      </div>
   </div>

   <!-- Campo di input con validatore di pattern -->
   <label for="phoneNumber">Phone Number:</label>
   <input type="text" id="phoneNumber" formControlName="phoneNumber" />
   <div *ngIf="myForm.get('phoneNumber')?.hasError('pattern')" class="error">
      Inserisci un numero di telefono corretto.
   </div>

   <!-- Campo di input con validatore personalizzato -->
   <div class="block">
      <label for="customField">Custom Field:</label>
      <input type="text" id="customField" formControlName="customField" />
      <div *ngIf="myForm.get('customField')?.hasError('customFieldMinLength')" class="error">
         Questo campo deve avere almeno {{ myForm.get('customField')?.getError('customFieldMinLength').requiredLength }}
         caratteri.
      </div>
   </div>

   <!-- Pulsante di invio -->
   <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>